*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: blueviolet;

}
table{
    border: 2px solid white;
}
h1,h2,h3{
    margin: 10px;
}
nav{
    background-color:black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5rem;
}
.logo{
    margin-left: 20px;
}
ul{
    display: flex;
    margin: 0 20px;

}
ul li{
    list-style: none;
    margin: 0 20px;

}